        <div class="container-fluid container-fixed-lg footer">
          <div class="copyright sm-text-center">
            <p class="small no-margin pull-left sm-pull-reset">
              <span class="hint-text">Costructora Aragon &copy; 2017 </span>
            </p>
            <div class="clearfix"></div>
          </div>
        </div>